{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<section id="login">
    <form action="{{ path('app_security_login') }}" method="post">
        <div class="mb-4 text-center">
            <div class="h2">Zhen API</div>
            <div class="h5">Connectez-vous</div>
        </div>
        <div class="mb-3">
            <label for="username">Mail</label>
            <input class="form-control form-control-sm" type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="mb-3">
            <label for="password">Mot de passe</label>
            <input class="form-control form-control-sm" type="password" id="password" name="_password" autocomplete="off"/>
        </div>

        <input type="hidden" name="go_to" value="{{ path('admin_user_list') }}"/>

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Connexion</button>
        </div>
    </form>
</section>
{% endblock %}
