@import "~bootstrap/scss/bootstrap";

.pointer {
    cursor: pointer;
}

#login {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    form {
        width:100%;
        max-width: 350px;
    }
}

/* admin */
.admin {
    width: 100%;
    min-height: 100vh;
    padding-top: 56px;

    .admin-section {
        padding-top:10px;
        min-height: calc(100vh - 56px);
        .admin-section-title {
           margin-bottom:20px;
        }
    }
}